<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit(userLoginForm)" class="form-inline my-2 my-lg-0" #userLoginForm="ngForm">
    <div class="input-group">
      <input class="form-control mr-sm-2" type="text" [(ngModel)]="model._username" name="_username" id="username" placeholder="Username">    
    </div>
    <div class="input-group">
      <input class="form-control mr-sm-2" type="password" [(ngModel)]="model._password" name="_password" id="password" placeholder="Password">
    </div>
    <div class="input-group form-check mb-2 mr-sm-2 mb-sm-0">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" [(ngModel)]="model._remember" name="_remember" id="remember">
        Remember
      </label>
    </div>
    <div class="input-group">
      <input class="form-control" [(ngModel)]="xsrf_token" name="_xsrf" id="xsrf" hidden required>
    </div>
    <button class="btn btn-nav btn-outline-primary btn-sm my-2 my-sm-0" type="submit">Submit</button>
  </form>
</div>